{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%; font-weight: 400; color: rgb(4, 54, 4);"><b>Contact Us 📞</b></h1>
        <p class="lead" style="font-weight: 500; color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Jagrit Pant</h3>
                <p class="lead" style="font-weight: 350; text-align: justify;">Hi, I am Jagrit. Currently pursuing Bachelors in Computer Science and Engineering. My main focus is on Cloud Computing and Software Development. I am also interested in web development.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:jagritpant201@gmail.com'><img src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Gmail_icon_%282020%29.svg" height="40" width="40"></a> : jagritpant201@gmail.com<br><br>
                
                <a target="_blank" href='https://www.linkedin.com/in/jagrit-pant-544025191/'><img src="https://upload.wikimedia.org/wikipedia/commons/8/81/LinkedIn_icon.svg" height="40" width="40"></a> : Jagrit-Pant<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Garvitaa Agarwal</h3>
                <p class="lead" style="font-weight: 350; text-align: justify;">Hi, I am Garvitaa Agarwal. I am from CSE spec. Cloud Computing and my interest lies in the domain of ML and Cloud. I am currently working as an Intern at Microsoft.</p>
            </center><br>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:krishna.baldaniya93@gmail.com'><img src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Gmail_icon_%282020%29.svg" height="40" width="40"></a> : garvitaa.2021@vitbhopal.ac.in<br><br>
                
                <a target="_blank" href='https://www.linkedin.com/in/garvitaa-agarwal-672524141/'><img src="https://upload.wikimedia.org/wikipedia/commons/8/81/LinkedIn_icon.svg" height="40" width="40"></a> : Garvitaa-Agarwal<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Shireen Jain</h3>
                <p class="lead" style="font-weight: 350; text-align: justify;">Hi, I am Shireen Jain. I am from CSE Core. I am into Machine Learning and creating different models to serve different purposes.</p>
            </center><br>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:krishna.baldaniya93@gmail.com'><img src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Gmail_icon_%282020%29.svg" height="40" width="40"></a> : shireen.jain2021@vitbhopal.ac.in<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/shireen-jain/'><img src="https://upload.wikimedia.org/wikipedia/commons/8/81/LinkedIn_icon.svg" height="40" width="40"></a> : Shireen-Jain<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Mudita Pathak</h3>
                <p class="lead" style="font-weight: 350; text-align: justify;">Hello, I am Mudita Pathak. I am from CSE Core and I am preparing for my higher studies. Apart from that, my interest lies in app development.</p>
            </center><br>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:krishna.baldaniya93@gmail.com'><img src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Gmail_icon_%282020%29.svg" height="40" width="40"></a> : mudita.pathak2021@vitbhopal.ac.in<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/mudita-pathak-931a53223/'><img src="https://upload.wikimedia.org/wikipedia/commons/8/81/LinkedIn_icon.svg" height="40" width="40"></a> : Mudita-Pathak<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Marwa Asad</h3>
                <p class="lead" style="font-weight: 350; text-align: justify;">Hi, I am Marwa. Currently studying Computer Science and Engineering (CSE Core). I am passionate about mathematics and coding and love solving logical and analytical problems.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:asad.marwa22@gmail.com'><img src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Gmail_icon_%282020%29.svg" height="40" width="40"></a> : asad.marwa22@gmail.com<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/marwa-asad/'><img src="https://upload.wikimedia.org/wikipedia/commons/8/81/LinkedIn_icon.svg" height="40" width="40"></a> : Marwa-Asad<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Sunandini Chakrabarty</h3>
                <p class="lead" style="font-weight: 350; text-align: justify;">Hi, I'm Sunandini. I'm studying Computer Science and Engineering (CSE Core). I am interested in coding and IoT-based research and love exploring literature.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:sunidraco@gmail.com'><img src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Gmail_icon_%282020%29.svg" height="40" width="40"></a> : sunidraco@gmail.com<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/sunandini-chakrabarty-986536229/'><img src="https://upload.wikimedia.org/wikipedia/commons/8/81/LinkedIn_icon.svg" height="40" width="40"></a> : Sunandini-Chakrabarty<br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
